*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
#header-desktop{
    /* margin-top: 20px; */
    background-color: rgba(255, 255, 255, 0.1);
    height: 4.5em;
    width: 80%;
    /* opacity: 0.5; */
    margin: auto;
    /* margin-top: 10px; */
    box-shadow: 0 0 5px 0;
    border-radius: 15px;
    /* background: inherit; */
    backdrop-filter: blur(10px);
    position: sticky;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    color: black;
    transition: all;
    transition-duration: 500ms;
    z-index: 10;
    position: sticky;
    overflow: hidden;
}
#header-mobile {
    /* margin-top: 20px; */
    background-color: rgba(255, 255, 255, 0.1);
    height: 4.5em;
    width: 80%;
    /* opacity: 0.5; */
    margin: auto;
    /* margin-top: 10px; */
    box-shadow: 0 0 5px 0;
    border-radius: 15px;
    /* background: inherit; */
    backdrop-filter: blur(10px);
    position: sticky;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    color: black;
    transition: all;
    transition-duration: 500ms;
    z-index: 10;
    position: sticky;
    overflow: hidden;
    display: none;
}
#header-mobile nav img{
    transform: scale(0.5);
}
#menu-mobile-parent{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    /* background-color: #97BC62; */
    
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}
#menu-mobile{
    z-index: 200;
    height: auto;
    width: 80%;
    max-width: 600px;
    margin: 5% auto;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px 0;
    border-radius: 15px;
    /* background: inherit; */
    backdrop-filter: blur(10px);
    padding: 100px;
    padding-top: 30px;
}
#menu-mobile div{
    text-align: center;
    margin-bottom: 40px;
}
#menu-mobile nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;

}
#menu-mobile li{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#menu-mobile nav ul a{
    text-decoration: none;
    color: black;
}
#menu-mobile nav ul a::after{
    content : "";
    display: block;
    height: 2px;
    width: 100%;
    transform: scale(0);
    background-color: black;
    transition: all;
    transition-duration: 300ms;
    border-radius: 10px;
}
#menu-mobile nav ul a:hover::after{
    transform: scale(1);
}
header .logo{
    font-size: 40px;
    margin-right: auto;
    margin-left: 20px;
    font-family: "Amita", serif;
    font-weight: bold;
}
#header-desktop nav ul{
    list-style: none;
    display: flex;
    /* padding: 5px; */
}
#header-desktop nav ul a{
    text-decoration: none;
    color: black;
}
#header-desktop nav ul li{
    margin:  10px;
    font-size: 20px;
    /* background-color: bisque; */
    padding: 10px;
    /* border-radius: 10px; */
    transition: all;
    transition-duration: 0.5s;
}
#header-desktop li::after{
    content : "";
    display: block;
    height: 2px;
    width: 100%;
    transform: scale(0);
    background-color: black;
    transition: all;
    transition-duration: 300ms;
    border-radius: 10px;
}
#header-desktop li:hover::after{
    transform: scale(1);
}
@media (max-width: 900px) {
    #header-desktop{
        display: none;
    }
    #header-mobile{
        display: flex;
    }
}
#cover{
    background-color: #EDF4F2;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
#get-started p{
    color: #97BC62;
    font-size: 70px;
    /* text-align: center; */
}
#changing-animation {
    width: 100%;
    display: flex;
}
#changing-animation-p1{
    width: 50%;
    text-align: right;
    margin-right: 20px;
}
#get-started span::after{
    content : "Spirituality";
    font-size: 75px;
    color: #2C5F2D;
    animation: animate 4s ease-in-out 0s infinite;
    transition: content;
    transition-timing-function: ease-in-out;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes animate {
    0%{
        content: "Spirituality";
    }
    25%{
        content: "Fiction";
    }
    50%{
        content: "History";
    }
    75%{
        content: "Romance"
    }
}
@media (max-width: 900px){
    #get-started p{
        text-align: center;
    }
    #changing-animation {
        flex-direction: column;
    }
    #changing-animation p {
        width: 100%;
    }
}
#get-started button{
    margin-top: 50px;
    font-size: 25px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border: 2px solid #2C5F2D;
    border-radius: 20px;
    color: #2C5F2D;
    transition: all;
    transition-duration: 500ms;
}
#get-started button:hover{
    background-color: #2C5F2D;
    color:#EDF4F2;
}
#big-search{    
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: -37.8px;
    position: sticky;
    top: 10px;
    z-index: 20;
}
#search-sec{
    background-color: rgba(255, 255, 255);
    height: 100%;
    width: 70%;
    max-width: 700px;
    margin: auto;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    backdrop-filter: blur(10px);
    /* border: 1px solid white; */
    align-items: center;
    justify-content: space-around;
}
#input-el{
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    width: 60%;
    font-size: 20px;
    margin-left: 5px;
}
#input-el::placeholder{
    color: rgb(43, 42, 42);
}
#input-el:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}
#clear-all{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#search-btn{
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    border: 0.1px solid black;
    color: black;
    transition: all;
    transition-duration: 0.5s;
}
#search-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#dive-heading{
    color: #2C5F2D;
    font-size: 70px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}
#book-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 500px);
    /* border: 1px solid black; */
    margin: 100px;
}
.grid-items-left, .grid-items-right{
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.details{
    height: 100%;
    width: 70%;
    /* float: left; */
    /* border: 1px solid black; */
    display: relative;
    padding: 10% 15% 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:  #EDF4F2;
    color: #31473A;
    border-radius: 20px;
}
.grid-items-right .details{
    padding: unset;
    padding: 10% 5% 10% 15%;
}
.details h2{
    font-size: 35px;
    text-align: center;
}
/* .details h2::after{
    content: "Compiled By : Swami Prabhupada";
    display: block;
    font-size: 15px;
    font-weight:lighter;
    margin-top: 5px;
    text-align: center;
} */
 .author{
    margin-top: -20px;
 }
.details-text{
    text-align: center;
}
.details div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.details button{
    outline: none;
    border: none;
    border: 2px solid #31473A;
    color: #31473A;
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0);
    border-radius: 30px;
    transition: all;
    transition-duration: 500ms;
}
.details button:hover{
    color: #EDF4F2;
    background-color: #31473A ;
    cursor: pointer;
}
.details button:nth-child(2){
    background-color: #31473A;
    color: #EDF4F2;
}
.details button:nth-child(2):hover{
    background-color: #EDF4F2;
    color: #31473A;
}
.price{
    font-size: 30px;
}
.book-img{
    display: absolute;
    height: auto;
    width: auto;
    /* border: 1px solid black; */
    /* bottom: -10%; */
    /* margin-right: -20%; */
    margin-right: 0px;
    margin-left: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 10;
    background-color: #31473A;
    border-radius: 20px;
}
.grid-items-right{
    flex-direction: row-reverse;
}
.grid-items-right .book-img{
    margin-left: 0px;
    margin-right: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.book-img img{
    width: auto;
    height: 300px;
    transition: all;
    transition-duration: 1s;
    border-radius: 20px;
}
.book-img img:hover{
    transform: scale(1.15);
}
@media (max-width: 1350px) {
    #book-grid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        /* place-items: center; */
    }
    .author{
        margin-top: 2px;
    }
}
footer{
    width: 100%;
    height: 400px;
    background-color: #EDF4F2;
    color: #31473A;
    padding: 50px 100px;
    font-size: 20px;
}
#logo{
    text-align: center;
    font-size: 120px;
    font-family: "Amita", serif;
}
#footer-below{
    display: flex;
    justify-content: space-around;
    color: #31473A;
}