/* Whole HTML Document */
:root{
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

/* Home page cover Start*/

#cover{
    background-color: #FFF2F2;
    padding: 1em;
    width: 100%;
    height: 55em;
}

/* Cover Ends */

/* Header and Menu */

    /* Header Desktop */

#header-desktop{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.05em;
    width: 95%;
    max-width: 1100px;
    margin: auto;
    box-shadow: 0 0 5px 0;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    position: sticky;
    display: flex;
    align-items: center;
    color: black;
    transition: all;
    transition-duration: 500ms;
    z-index: 10;
    position: sticky;
    overflow: hidden;
    font-size: 1vw;
}

#header-desktop .logo{
    font-size: 2rem;
    margin-right: auto;
    margin-left: 20px;
    font-family: "Amita", serif;
    font-weight: bold;
}

#header-desktop nav ul{
    list-style: none;
    display: flex;
}

#header-desktop nav ul a{
    text-decoration: none;
    color: black;
}

#header-desktop nav ul li{
    margin:  10px;
    font-size: 20px;
    padding: 10px;
    transition: all;
    transition-duration: 0.5s;
}

#header-desktop li::after{
    content : "";
    display: block;
    height: 2px;
    width: 100%;
    transform: scale(0);
    background-color: black;
    transition: all;
    transition-duration: 300ms;
    border-radius: 10px;
}

#header-desktop li:hover::after{
    transform: scale(1);
}

    /* Desktop header ends */

    /* Header Mobile starts*/

#header-mobile{
    padding: 0.2em;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
    box-shadow: 0 0 5px 0;
    /* backdrop-filter: blur(10px); */
    color: black;
}

#header-mobile .logo{
    margin-right: auto;
    font-family: "Amita", serif;
    margin-left: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

#header-mobile nav{
    margin-right: 0.5em;
}

#menu-mobile-parent{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100; 
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

#menu-mobile{
    z-index: 200;
    height: auto;
    width: 80%;
    max-width: 600px;
    margin: 5% auto;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px 0;
    border-radius: 15px;
    /* background: inherit; */
    backdrop-filter: blur(10px);
    padding: 2em;
    padding-top: 30px;
}

#menu-mobile div{
    text-align: center;
    margin-bottom: 40px;
}

#menu-mobile nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

#menu-mobile li{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#menu-mobile nav ul a{
    text-decoration: none;
    color: black;
}

#menu-mobile nav ul a::after{
    content : "";
    display: block;
    height: 2px;
    width: 100%;
    transform: scale(0);
    background-color: black;
    transition: all;
    transition-duration: 300ms;
    border-radius: 10px;
}

#menu-mobile nav ul a:hover::after{
    transform: scale(1);
}

    /* Header Mobile Ends */
/* Header and Menu Ends */


/* Display Cover Text */

#main-glance{
    display: flex;
    margin-top: 6em;
}

#main-glance-left{
    text-align: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.7em;
    font-size: 4.5rem;
}

#get-start-div{
    display: flex;
    align-items: center;
}

#main-glance p{
    color: #2D336B;
    /* text-align: center; */
}

#main-glance button{
    font-size: 2rem;
    padding: 0.3em 0.8em;
    outline: none;
    border: none;
    border: 0.05em solid #2D336B;
    border-radius: 20px;
    color: #2D336B;
    transition: all;
    transition-duration: 500ms;
    display: inline-block;
    margin-left: 1.5em;
    background-color: rgba(0, 0, 0, 0);
}
#main-glance button:hover{
    background-color: #2D336B;
    color: #FFF2F2;
}

#main-glance-right{
    width: 40%;
}

#card-parent{
    width: 80%;
    height: 30em;
    border: 1px solid black;
    border-radius: 2em;
    margin: auto;
}

.card-img{
    width: 100%;
    height: 70%;
    border-radius: 2em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-clip: padding-box;
    display: none;
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-text{
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    font-size: 4rem;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px #2D336B;
    display: none;
}

.card-img{
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
    
}

@media (max-width: 1640px){
    :root{
        font-size: 13px;
    }
}

/* Display Cover Text Ends */

/* Search Bar */

#big-search{    
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: -37.8px;
    position: sticky;
    top: 10px;
    z-index: 20;
}

#search-sec{
    background-color: rgba(255, 255, 255);
    height: 100%;
    width: 70%;
    max-width: 700px;
    margin: auto;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    backdrop-filter: blur(10px);
    /* border: 1px solid white; */
    align-items: center;
    justify-content: space-around;
}

#input-el{
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    width: 60%;
    font-size: 20px;
    margin-left: 5px;
}

#input-el::placeholder{
    color: rgb(43, 42, 42);
}

#input-el:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

#clear-all{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#search-btn{
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    border: 0.1px solid black;
    color: black;
    transition: all;
    transition-duration: 0.5s;
}

#search-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Search Bar ends */

#dive-heading{
    color: #2C5F2D;
    font-size: 6rem;
    width: 80%;
    max-width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 2em;
}
#book-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 40em);
    /* border: 1px solid black; */
    margin: 8em;
}
.grid-items-left, .grid-items-right{
    /* border: 1px solid black; */
    margin: 1em;
    display: flex;
    align-items: center;
}
.details{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:  #EDF4F2;
    color: #31473A;
    border-radius: 5em;
}
.grid-items-left .details{
    padding: 3em 6em 3em 3em;
}
.grid-items-right .details{
    padding: 3em 3em 3em 6em;
}
.details h2{
    font-size: 2.9rem;
    text-align: center;
}
.author{
    font-size: 1.2rem;
}
.details-text{
    text-align: center;
    font-size: 1.3rem;
}
.details div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.details button{
    outline: none;
    border: none;
    border: 2px solid #31473A;
    color: #31473A;
    font-size: 1.7rem;
    padding: 0.5em 1em;
    background-color: rgba(0,0,0,0);
    border-radius: 2em;
    transition: all;
    transition-duration: 500ms;
}
.details button:hover{
    color: #EDF4F2;
    background-color: #31473A;
    cursor: pointer;
}
.details button:nth-child(2){
    background-color: #31473A;
    color: #EDF4F2;
}
.details button:nth-child(2):hover{
    background-color: #EDF4F2;
    color: #31473A;
}
.price{
    font-size: 30px;
}
.grid-items-left .book-img{
    display: absolute;
    height: auto;
    width: auto;
    margin-right: 0px;
    margin-left: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    z-index: 10;
    background-color: #31473A;
    border-radius: 2em;
}
.grid-items-right{
    flex-direction: row-reverse;
}
.grid-items-right .book-img{
    display: absolute;
    height: auto;
    width: auto;
    margin-right: -10%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    z-index: 10;
    background-color: #31473A;
    border-radius: 2em;
}
.book-img img{
    width: auto;
    height: 23em;
    transition: all;
    transition-duration: 0.2s;
    border-radius: 2em;
}

.book-img img:hover{
    transform: scale(1.15);
}

#grid-parent{
    display: flex;
    justify-content: center;
}

footer{
    width: 100%;
    height: 400px;
    background-color: #EDF4F2;
    color: #31473A;
    padding: 50px 100px;
    font-size: 20px;
}
#logo{
    text-align: center;
    font-size: 120px;
    font-family: "Amita", serif;
}
#footer-below{
    display: flex;
    justify-content: space-around;
    color: #31473A;
}
/* @media (max-width: 1350px) {
    #book-grid{
        grid-template-columns: 700px;
        grid-template-rows: auto;
        align-items: center;
        place-items: center;
    }
    .author{
        margin-top: 2px;
    }
    :root{
        font-size: 12px;
    }
} */
@media (max-width: 1250px){
    :root{
        font-size: 9px;
    }
    #main-glance-right{
        width: 40%;
    }
}
@media (max-width: 900px){
    :root{
        font-size: 7px;
    }
}
@media (max-width: 720px) {
    :root{
        font-size: 10px;
    }
    #header-desktop{
        display: none;
    }
    #header-mobile{
        display: flex;
        align-items: center;
        padding: 0.5em;
    }
    #cover{
        padding: 0px;
        height: 70em;
    }
    #main-glance{
        display: flex;
        flex-direction: column;
    }
    #main-glance-left, #main-glance-right{
        width: 100%;
        margin: 0;
    }
    #main-glance-left{
        margin-bottom: 1em;
    }
    #main-glance-left p{
        text-align: center;
        margin-bottom: 0.2em;
    }
    #main-glance button{
        margin-left: 0px;
    }
    #card-parent{
        width: 50%;
    }
    #get-start-div{
        display: flex;
        flex-direction: column;
    }
    #dive-heading{
        margin-top: 2em;
        font-size: 5rem;
    }
    #book-grid{
        grid-template-columns: 50em;
        grid-template-rows: repeat(6, 30em);
    }
    .book-img img{
        height: 18em;
    }
}
@media  (max-width: 575px) {
    :root{
        font-size: 8px;
    }
}
@media (max-width: 450px){
    :root{
        font-size: 7px;
    }
    #book-grid{
        grid-template-columns: 95%;
    }
}
